@import "tailwindcss";

p code {
  background-color: var(--color-zinc-950);
  padding: 5px;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--color-zinc-300);
  border-radius: 5px;
}

pre {
  padding: 10px 20px;
  margin-block: 10px;
  border-radius: 5px;
  scrollbar-width: thin;
  scrollbar-color: var(--color-zinc-700) var(--color-zinc-500);

  code span {
    font-family: "Ubuntu Mono", monospace;
  }
}

@theme {
  --font-ubuntu-mono: "Ubuntu Mono", monospace;
  --font-alkatra: "Alkatra", system-ui;
}

@layer base {
  p {
    margin-bottom: 0.75rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 0.75rem;
  }

  h1 {
    font-size: 2.25rem;
    line-height: 1.2;
  }

  h2 {
    font-size: 1.875rem;
    line-height: 1.3;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  h4 {
    font-size: 1.25rem;
    line-height: 1.5;
  }

  h5 {
    font-size: 1.125rem;
    line-height: 1.5;
  }

  h6 {
    font-size: 1rem;
    line-height: 1.5;
  }

  a {
    transition: all 0.5s;

    &:hover {
      filter: brightness(150%);
      font-weight: bold;
      letter-spacing: 0.2px;
    }
  }

  blockquote {
    border-left: 4px solid var(--color-blue-300);
    padding-left: 0.75rem;
    margin-block: 1rem;
    font-style: italic;
    color: var(--color-blue-300);
  }

  strong {
    font-weight: 700;
  }

  ul,
  ol {
    padding-left: 1rem;
    margin-block: 0.5rem;
  }

  ul {
    list-style-type: square;
  }

  ol {
    list-style-type: decimal; /* numbers */
  }
}
